<button
  class="button{{#if mode}} button--{{ mode }}{{/if}}{{#if size}} button--{{ size }}{{/if}}{{#if className}} {{className}}{{/if}}"
  type="{{#if type}}{{ type }}{{else}}button{{/if}}"
>
  {{ text }}
</button>
