<nav class="nav{{#if mobileMenu}} nav--{{mobileMenu}}{{/if}}">
  <ul class="nav__list" aria-labe="Меню">
    <li class="nav__item">
      <a href="{{link1}}" class="nav__link text-uppeercase active">
        {{name1}}
      </a>
    </li>
    <li class="nav__item">
      <a href="{{link2}}" class="nav__link text-uppeercase">
        {{name2}}
      </a>
    </li>
    <li class="nav__item">
      <a href="{{link3}}" class="nav__link text-uppeercase">
        {{name3}}
      </a>
    </li>
    <li class="nav__item">
      <a href="{{link4}}" class="nav__link text-uppeercase">
        {{name4}}
      </a>
    </li>
  </ul>
</nav>